.main {
  min-height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15px auto var(--footer-height);
  box-sizing: border-box;
  background: #1a1c21;
  overflow: hidden;
  position: relative;
}

.container {
  z-index: 2;
  height: 100%;
}

.notification {
  z-index: 2;
  position: absolute;
  text-align: center;
  bottom: calc((100% - 33px) / 2);
  left: calc((100% - 310px) / 2);
  min-width: 310px;
  box-shadow: 0 0 10px 10px #6836f9;
  border: 1px solid #ffa60c;
  animation: notification 2s linear forwards;
  box-sizing: border-box;
  padding: 7px 10px;
  display: flex;
  border-radius: 20px;
  background: linear-gradient(90deg, #ffa60c 0%, #6836f9 100%);
}

.notification_type_error {
  box-shadow: 0 0 10px 10px #ee3465;
  border: 1px solid #ee3465;
  background: linear-gradient(90deg, #ee3465 0%, #ffa60c 100%);
}

@keyframes notification {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-15px);
    opacity: 0.75;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  75% {
    transform: translateY(-45px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(-60px);
    opacity: 0;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.background_url_light {
  width: 600px;
  height: 600px;

  top: calc(50% - 300px);
  left: calc(50% - 300px);

  background: radial-gradient(
    circle closest-side at center,
    var(--bg-background-light-color) 5%,
    var(--bg-background-light-color) 25%,
    var(--bg-background-darker-color) 35%,
    transparent 75%,
    transparent
  );
}

.background_url_abstraction {
  background-image: url(./../assets/abstraction.svg);
}

.background_url_cloud {
  width: 100%;
  z-index: 1;
  background-image: url(./../assets/cloud.svg);
  background-position: center calc(100% + 60px);
}

.background_url_tree {
  width: 100%;
  height: 773px;
  /* background-position: center calc(50% - 230px); */
  left: -235px;
  bottom: calc(50% - 235px);
  background-image: url(./../assets/island.svg);
}

.background_url_cobblestone {
  width: 100%;
  height: 412px;
  bottom: calc(50% - 465px);
  background-image: url(./../assets/cobblestone.svg);
}
